body {
    background: linear-gradient(to left, #001764, #0734b1, #01216b);
}

form {
    background-color:#17337e;
}

.card{
    background-color: #63cf4d;
}

H2 {
    color: #f0f0f0;
}

h1{
    color:#ffffff;
}

p {
    color: white;
}

.inputs {
    color: rgb(224, 223, 223);
    border-color: white;
}

.placeholder {
    background: white;
    color: white;
    border-color: white;
}

.no-outline:focus {
    box-shadow: none !important;
}

.btnc {
    background-color: #086618;
    color: rgb(0, 0, 0);
    border-color: #90ef37;
}

.navbar {
    background: linear-gradient(to left, #010c30, #05257e, #001649);
    height: 80px;
}

.custom-footer{
    height: 50px;
    background-color: #32a041;
}

.title {
    padding: 30px;
    color: #809be5;
}


